{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    {% if article.fileName is defined and article.fileName|length %}
        <p>obecna miniaturka</p>
        <img class="nav-profile-img thumbnail" src="{{ asset('uploads/avatars/'~ article.fileName) }}">
        <div class="my-4">
            <a class="btn btn-primary" href={{ url('thumbnail_edit', {'id': article.id}) }}>zmień</a>
            <a class="btn btn-danger" href={{ url('thumbnail_delete', {'id': article.id}) }}>usuń</a>
            <a class="btn btn-info" href={{ url('article_index') }}>pomiń</a>
        </div>
    {% else %}
        <p>dodać miniaturkę?</p>
        <div class="mb-4">
            <a class="btn btn-primary" href={{ url('thumbnail_add', {'id': article.id}) }}>dodaj</a>
            <a class="btn btn-info" href={{ url('article_index') }}>pomiń</a>
        </div>
    {% endif %}
{% endblock %}
