{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    {% if article.fileName is defined and article.fileName|length %}
        <p>{{ 'current_thumbnail'|trans }}</p>
        <img class="nav-profile-img thumbnail" src="{{ asset('uploads/avatars/'~ article.fileName) }}">
        <div class="my-4">
            <a class="btn btn-primary" href={{ url('thumbnail_edit', {'id': article.id}) }}>{{ 'change'|trans }}</a>
            <a class="btn btn-danger" href={{ url('thumbnail_delete', {'id': article.id}) }}>{{ 'delete_thumbnail'|trans }}</a>
            <a class="btn btn-info" href={{ url('article_index') }}>{{ 'skip'|trans }}</a>
        </div>
    {% else %}
        <p>{{ 'add_thumbnail'|trans }}?</p>
        <div class="mb-4">
            <a class="btn btn-primary" href={{ url('thumbnail_add', {'id': article.id}) }}>{{ 'add'|trans }}</a>
            <a class="btn btn-info" href={{ url('article_index') }}>{{ 'skip'|trans }}</a>
        </div>
    {% endif %}
{% endblock %}
