{% extends 'base.html.twig' %}

{% block title %}{{ 'nav_register'|trans }}{% endblock %}

{% block body %}
    <h2>{{ 'nav_register'|trans }}</h2>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">{{ 'nav_register'|trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
