{% extends 'base.html.twig' %}

{% block title %}
    {{ 'comment_add'|trans }}
{% endblock %}

{% block body %}
    <div class="card mt-5">
        <div class="card-body">
            <div class="card-title"><h2>{{ 'comment_add'|trans }}</h2></div>

            {{ form_start(form, { method: 'POST', action: url('comment_add', {"id": id}) }) }}
            {{ form_widget(form) }}
            <div class="form-group row float-sm-right">
                <input type="submit" value="{{ 'comment_add'|trans }}" class="btn btn-primary" />
            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}