<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <li class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href={{ url('article_index') }}>Home <span class="sr-only">(current)</span></a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href={{ url('article_create') }}>Add article</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href={{ url('category_index') }}>Categories</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href={{ url('category_create') }}>Add category</a>
                </li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" href={{ url('user_profile', {"id": app.user.id}) }}>{{ app.user.email }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('app_logout') }}">log out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('app_login') }}">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('app_register') }}">register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>