{% extends 'base.html.twig' %}

{% block title %}
    search by tag
{% endblock %}

{% block body %}
    <h1>{{ 'article_edit'|trans }}</h1>
    {{ form_start(form, { method: 'POST', action: url('tag_search') }) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'article_edit'|trans }}" class="btn btn-primary" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('article_index') }}" class="btn btn-link">
            {{ 'back'|trans }}
        </a>
    </div>
    {{ form_end(form) }}

    <div class="mt-5">
        {% if articles is defined and articles|length %}
            <ul>
                {% for article in articles %}
                    <li><a href={{ url('article_show', {"id": article.id})  }}>{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        {% elseif searched %}
            nothing found
        {% endif %}
    </div>


{% endblock %}