{% extends 'base.html.twig' %}

{% block title %}
    single
{% endblock %}

{% block body %}
    <a href="{{ url("article_index") }}">wróć</a>
    <a href="{{ url("article_edit", {"id": article.id}) }}">edutuj</a>
    <a href="{{ url("article_delete", {"id": article.id}) }}">usuń</a>
    {% if article is defined and article|length %}
        <h1>{{ article.title }}</h1>
        <a href={{ url('category_show', {"name": article.category.name}) }}>{{ article.category.name }}</a>
        <p>{{ article.body }}</p>
    {% endif %}
{% endblock %}