{% extends 'base.html.twig' %}

{% block title %}
    {% if article is defined and article|length %}
        {{ article.title }}
    {% else %}

    {% endif %}
{% endblock %}

{% block body %}
    {% if article is defined and article|length %}
        <a class="btn btn-info" href="{{ url("article_index") }}">{{ 'back'|trans }}</a>
        {% if is_granted('ROLE_ADMIN') or ( is_granted('ROLE_REDACTOR') and is_granted('EDIT', article) ) %}
            <a class="btn btn-primary" href="{{ url("article_edit", {"id": article.id}) }}">{{ 'article_edit'|trans }}</a>
            <a class="btn btn-primary" href="{{ url("article_delete", {"id": article.id}) }}">{{ 'article_delete'|trans }}</a>
        {% endif %}

        <h1 class="h1">{{ article.title }}</h1>

        {% if article.fileName is defined and article.fileName|length %}
            <img class="nav-profile-img d-block my-3" src="{{ asset('uploads/avatars/'~ article.fileName) }}">
        {% endif %}

        <strong class="text-primary d-block"><a href={{ url('user_profile', {'id': article.author.id}) }}>{{ article.author.email }}</a></strong>
        <small class="text-muted d-block">{{ article.updatedAt|date }}</small>
        <a class="d-block" href={{ url('category_show', {"name": article.category.name}) }}>{{ article.category.name }}</a>
        {% if article.tags is defined and article.tags|length %}
            <div>{{ 'tags'|trans }}:
                {% for tag in article.tags %}
                    <a href={{ url('tag_show', {"code": tag.code}) }}>{{ tag.name }}</a>
                {% endfor %}
            </div>
        {% endif %}

        <p>{{ article.body|markdown_to_html }}</p>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="btn btn-primary" href={{ url('comment_add', {"id": article.id})}} >{{ 'comment'|trans }}</a>
        {% else %}
            <div class="alert alert-info">{{ 'login_to_comment'|trans }}</div>
        {% endif %}

        {% if article.comments|length %}
            <ul class="mt-4 media-list">
                {% for comment in article.comments %}
                    <li class="media">
                        <div class="media-body">
                            <strong class="text-success d-block">{{ comment.author.email }}</strong>
                            <p class="mt-2">{{ comment.body }}</p>
                            {% if is_granted("ROLE_ADMIN") or is_granted("DELETE", comment) %}
                                <a class="btn btn-outline-danger float-right" href={{ url('comment_delete', {"id": comment.id}) }}>{{ 'delete'|trans }}</a>
                            {% endif %}
                            <hr>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    {% endif %}

{% endblock %}