{% extends 'base.html.twig' %}

{% block title %}
    single
{% endblock %}

{% block body %}
    <a href="{{ url("article_index") }}">wróć</a>
    <a href="{{ url("article_edit", {"id": article.id}) }}">edutuj</a>
    <a href="{{ url("article_delete", {"id": article.id}) }}">usuń</a>
    {% if article is defined and article|length %}
        <h1>{{ article.title }}</h1>
        <p>{{ article.updatedAt|date }}</p>
        <a href={{ url('category_show', {"name": article.category.name}) }}>{{ article.category.name }}</a>
        {% if article.tags is defined and article.tags|length %}
            <div>tags:
                {% for tag in article.tags %}
                    <a href={{ url('tag_show', {"code": tag.code}) }}>{{ tag.name }}</a>
                {% endfor %}
            </div>
        {% endif %}
        <p>{{ article.body }}</p>
    {% endif %}

    <div class="card mt-5">
        <div class="card-body">
            <div class="card-title">dodaj komentarz</div>
            {{ form_start(form, { method: 'POST', action: url('article_show', {"id": article.id}) }) }}
            {{ form_widget(form) }}
            <div class="form-group row float-sm-right">
                <input type="submit" value="zapisz" class="btn btn-primary" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div>
        {% for comment in article.comments %}
            <div>
                <p>{{ comment.nick }}</p>
                <p>{{ comment.email }}</p>
                <p>{{ comment.body }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}