{% extends 'base.html.twig' %}

{% block title %}
    single
{% endblock %}

{% block body %}
    {% if article is defined and article|length %}
        <a href="{{ url("article_index") }}">wróć</a>
        <a href="{{ url("article_edit", {"id": article.id}) }}">edutuj</a>
        <a href="{{ url("article_delete", {"id": article.id}) }}">usuń</a>

        <h1>{{ article.title }}</h1>
        <strong class="text-primary d-block">{{ article.author.email }}</strong>
        <small class="text-muted d-block">{{ article.updatedAt|date }}</small>
        <a class="d-block" href={{ url('category_show', {"name": article.category.name}) }}>{{ article.category.name }}</a>
        {% if article.tags is defined and article.tags|length %}
            <div>tags:
                {% for tag in article.tags %}
                    <a href={{ url('tag_show', {"code": tag.code}) }}>{{ tag.name }}</a>
                {% endfor %}
            </div>
        {% endif %}
        <p>{{ article.body }}</p>

        <a class="btn btn-primary" href={{ url('comment_add', {"id": article.id})}} >skomentuj</a>

        {% if article.comments|length %}
            <ul class="mt-4 media-list">
                {% for comment in article.comments %}
                    <li class="media">
                        <div class="media-body">
                            <strong class="text-success d-block">{{ comment.author.email }}</strong>
                            <p class="mt-2">{{ comment.body }}</p>
                            <hr>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    {% endif %}

{% endblock %}