{% extends 'base.html.twig' %}

{% block title %}
    {{ app.user.email }}
{% endblock %}

{% block body %}
   <table class="table">
        <tr>
            <td>email</td>
            <td>{{ user.email }}</td>
            <td><a href={{ url('user_email_change', {'id': user.id}) }}>{{ 'change'|trans }}</a></td>
        </tr>
       <tr>
            <td>{{ 'password'|trans }}</td>
            <td>{{ 'secret'|trans }}</td>
            <td>
                <a href={{ url('user_password_change', {'id': user.id}) }}>{{ 'change'|trans }}</a>
            </td>
        </tr>
   </table>
{% endblock %}